* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "SF Fedora", sans-serif;
    background: linear-gradient(to top left, #cac3d3, #0c0404);
    color:#913131;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    margin-top: 3rem;
}

img {
    width: 100%;
    padding:0.5rem ;
    border-radius: 2rem;
    box-shadow: 10px 5px 10px black ;
}

.container {
    width: 80%;
    height: 93%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top left, #d3ccccc0, #070707);
    border-radius: 2rem;
}

.bloc1 {
    display: flex;
    flex: 1;
}

.boss {
    margin-right: 2rem;
}

.jojologo {
    width: 150px;
    height: 90%;
    margin-top: -1rem;
    box-shadow: none;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    font-size: 1.5rem;
}

.active {
    color: white;
}

.bloc2 {
    flex: 15;
    width: 92%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1FR );
    gap: 1rem;
}

.risotto {
    grid-column: 6/9 ;
    grid-row: 1/5;
    width: 90%;
}

.formaggio {
    grid-column: 9/11;
    grid-row: 2/8;
    width: 130%;
}

.illuso {
    grid-column: 3/5;
    grid-row: 2/11;
    width: 140%;
}

.prosciutto {
    grid-column: 2/4;
    grid-row: 7/11;
    width: 130%;
}

.pesci {
    grid-column: 10/13;
    grid-row: 7/10 ;
}

.melone {
    grid-column: 6/9;
    grid-row: 9/15;
    width: 100%;
}

.ghiaccio {
    grid-column: 4/6;
    grid-row: 9/15;
    width: 90%;
}

.gelato {
    grid-column: 9/11;
    grid-row: 10/13;
    width: 110%;
}

.teamsquadra {
    grid-column: 6/9 ;
    grid-row: 7/9;
    font-size: 4rem;
    align-self: center;
    justify-self: center;
    line-height: 4rem;
}

.risotto:hover {
    transition: transform .5s;
    transform: scale(1.3);
 }

 .formaggio:hover {
    transition: transform .5s;
    transform: scale(1.3);
 }

 .illuso:hover {
    transition: transform .5s;
    transform: scale(1.3);
 }

 .prosciutto:hover {
    transition: transform .5s;
    transform: scale(1.3);
 }

 .pesci:hover {
    transition: transform .5s;
    transform: scale(1.3);
 }

 .melone:hover {
    transition: transform .5s;
    transform: scale(1.3);
 }

 .ghiaccio:hover {
    transition: transform .5s;
    transform: scale(1.8);
 }

 .gelato:hover {
    transition: transform .5s;
    transform: scale(1.7);
 }

@font-face {
    font-family: "SF Fedora";
    src: url("../font/sf_fedora/SF\ Fedora.ttf");
}

@media (max-width: 1100px) {
    
    .body {
        width: auto;
        height: auto;
    }
    .container {
        width: auto;
        height: auto;
        background: linear-gradient(to top left , #cac3d3, #0c0404);
        background-size: cover;
    }

    .menu {
        display: inline-block;
        padding: 2rem;
    }

    .logo {
        width: auto;
    }

    .teamsquadra {
        margin-top: 5rem;
    }
    
    .bloc2 {
        display: inline-block;
        text-align: center;
        width: 90%;
        height: auto;
        margin: auto;
    }

    .imgjojo {
        width: 70%;
        margin-top: 5rem;
    }

    .imgjojo:hover {
        transition: 0.5;
        transform: scale(1.3);
    }
}